



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');



* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 100px;
}


#banner{
    background: url('img/bg5.jpg');
    background-size: cover;
    background-position: center;

    color: black;

    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .content{
    text-align: center;
    max-width: 600px;
}

#banner .content p .desc {
    font-size: 25pt;
    font-weight: 300;
    color: rgb(49, 7, 7);
    font-style: oblique;
}

#banner .content p .name {
    color: #97110e;
    font-size: 13pt;
    letter-spacing: 1.5pt;
}

.button {
    font-size: 1em;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;

    background-color: rgb(204, 97, 97);

    display: inline-block;
    padding: 10px 28px;
    margin-top: 18px;

    transition-duration: 300ms;
}

.button:hover {
    letter-spacing: 4px;
}







header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition-duration: 400ms;
}

header .logo{
    color: black;
    font-size: 2em;
    font-weight: 750;
    text-decoration: none;
    letter-spacing: 0.08em;
}

header .logo span{
    color: #FFAAA6;
    font-size: 1.5em;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 25px;
}

header .navigation li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.08em;
    transition-duration: 250ms;
}






header .navigation li a:hover{
    color: rgb(204, 97, 97);
}

header.sticky {
    background-color: rgba(251, 242, 242, 0.95);
    padding: 3px 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header.sticky .logo{
    font-size: 1.35em;
}

header.sticky .navigation li a{
    font-size: 0.8em;
    font-weight: 550;
    letter-spacing: 2px;
}


#about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vh;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 8vh;
}

.row .col50 {
    position: relative; 
    width: 49%;
}

.titleText {
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    margin-left: -20px;
    padding: 2vh;
    
}

.titleText span{
    color: #f37a74;
    font-weight: 1000;
}

.row .col50 p {
    font-size: 11.5pt;
    margin-left: -30px;
    margin-top: -2vh;
    padding: 2vh;
}

.a {
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: 0.08em;
}

.b {
    color: #FFAAA6;
    font-size: 1.5em;
}

.c {
    font-weight: 700;
    color: #f88f89;
}

.d {
    font-weight: 700;
    color: #9fbe72;
}

.e {
    color: #ffc375;
    font-weight: bold;
}

.row .col50 .vidBx {
    position: relative;
    width: 100%;
    min-height: 400px;
}

.row .col50 .vidBx video {
    position: absolute;
    top: 0;
    left: -2vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-right: 4vh;
}








.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#shop .title p a{
    color: rgb(3,172,14);
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 800;
}

#shop .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

#shop .content a{
    text-decoration: none;
    color: #111;
}

#shop .content a .box{
    width: 200px;
    margin: 20px;
    border: 12px solid #fff;
    border-radius: 2.5mm;
    box-shadow: 0 5px 35px rgba(0,0,0,0.3);
    transition-duration: 250ms;
}

#shop .content a .box:hover{
    background-color: #fce7d9;
    border-color: #fce7d9;
    color: #f67c75;
}
/* tombol buku-buku di bagian shop: biar warnanya berubah */

#shop .content .box .imgBx{
    position: relative;
    width: 100%;
    height:260px;
}

#shop .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#shop .content .box .text{
    padding: 15px 0 5px;
    font-size: 9pt;
}

#shop .content .box .text h3{
    font-weight: 608;
    font-size: 1.2em;
}





#testi{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url('img/bg1.jpg');
    background-size:cover;
    max-height:500px;
}

#testi .title .titleText{
    color: white;
    font-weight: 750;
    letter-spacing: 7.5px;
    font-size: 23pt;
    margin-top: -30px;
}

#testi .title p{
    color: #FFD3B5;
    font-size: 15pt;
    font-style: italic;
}

#testi .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#testi .content .box{
    background-color: #fff;;
    width: 220px;
    margin: 35px;
    border: 12px solid #fff;
    border-radius: 2.1mm;
    box-shadow: 0 5px 35px rgba(0,0,0,0.3);
    transition-duration: 250ms;
}

#testi .content .box .imgBx{
    position: relative;
    width: 100%;
    height:170px;
}

#testi .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testi .content .box .text{
    padding: 15px 0 5px;
    font-size: 9pt;
    text-align: center;
}

#testi .content .box .text h3{
    font-size: 13.5pt;
    font-weight: 608;
    margin-bottom: 5px;
}

#testi .content .box .text p{
    font-size: 8.5pt;
    font-style: italic;
}




footer{
    padding: 6px 36px;
    background-color: rgb(116, 98, 86);
    color: white;
    text-align: center;
}

footer p{
    font-weight: 700;
    font-size: 0.8em;
}

footer p span{
    color: #FFAAA6;
}


@media (max-width: 991px){
   header, header.sticky{
       padding: 4px 20px;
       transition-duration: 350ms;
       background: none;
   }

   header.sticky{
    background-color: rgba(255, 136, 130, 0.8);
    transition-duration: 350ms;
   }

   header.sticky a.logo{
    font-size: 1.5em;
    transition-duration: 350ms;
   }

   header.sticky a.logo span{
       color: #f5bebb;
   }

   header .navigation{
       display: none;
       transition-duration: 500ms;
   }



   header .navigation.active{
       width: 100%;
       height: calc(100% - 78px);
       position: fixed;
       top: 78px;
       left: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background-color: #FFAAA6;
   }

   header.sticky .navigation.active{
       background-color: rgba(255, 170, 166, 0.5);
   }


   header .navigation li{
       margin-left: -33px;
   }

   header .navigation li a{
       font-size: 1.6em;
   }

   header.sticky .navigation li a{
       font-size: 1.6em;
}
   
   
   
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active{
        background: url(img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    section{
        padding: 20px;
    }

    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    #banner .content h2{
        font-size: 3em;
    }

    .row{
        flex-direction: column;
    }

    .row .col50{
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }

    #shop .content{
        margin-top: 20px;
    }

    #shop .content a .box{
        margin: 10px;
        width: 220px;
    }

    #shop .content .box .imgBx{
        height: 200px;
    }



    #testi{
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: url('img/bg1.jpg');
        background-size:cover;
        max-height:100vh;
    }
    
    #testi .title .titleText{
        color: white;
        font-weight: 750;
        letter-spacing: 7.5px;
        font-size: 23pt;
        margin-top: -10px;
    }
    
    #testi .title p{
        color: #FFD3B5;
        font-size: 15pt;
        font-style: italic;
        margin-top: -30px;
    }
    
    #testi .content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #testi .content .box{
        background-color: #fff;;
        width: 180px;
        margin: 8px;
        border: 12px solid #fff;
        border-radius: 2.1mm;
        box-shadow: 0 5px 35px rgba(0,0,0,0.3);
        transition-duration: 250ms;
    }
    
    #testi .content .box .imgBx{
        position: relative;
        width: 100%;
        height:100px;
    }
    
    #testi .content .box .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #testi .content .box .text{
        padding: 15px 0 5px;
        font-size: 9pt;
        text-align: center;
    }
    
    #testi .content .box .text h3{
        font-size: 13.5pt;
        font-weight: 608;
        margin-bottom: 5px;
    }
    
    #testi .content .box .text p{
        font-size: 8.5pt;
        font-style: italic;
    }
}


